<div class="container">
    <div class="access-logo"></div>
    <div style="margin-top:50px;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <div class="panel panel-access">
            <div class="panel-heading">
                <div class="panel-title">Register</div>
                <div class="pull-right">
                    <a ui-sref="login">Log In</a>
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" name="registerForm" ng-submit="vm.register();" novalidate>

                    <div class="alert alert-danger" ng-show="vm.globalError">
                        {{vm.globalError}}
                    </div>


                    <div class="form-group"
                         ng-class="{ 'has-error' : registerForm.email.$invalid && !registerForm.email.$pristine }">
                        <label class="col-md-3 control-label">Email</label>

                        <div class="col-md-9">
                            <input type="email" class="form-control" required ng-model="vm.registrationData.email"
                                   name="email"
                                   placeholder="Email Address"/>

                            <div class="help-block"
                                 ng-messages="registerForm.email.$error"
                                 ng-show="registerForm.email.$invalid && !registerForm.email.$pristine">
                                <div ng-message="required">Email is required</div>
                                <div ng-message="email">Please provide valid email address</div>
                                <div ng-message="duplicate">User with this email already exists</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{ 'has-error' : registerForm.firstName.$invalid && !registerForm.firstName.$pristine }">
                        <label class="col-md-3 control-label">First Name</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" required ng-model="vm.registrationData.firstName"
                                   name="firstName" placeholder="First Name">

                            <div class="help-block"
                                 ng-messages="registerForm.firstName.$error"
                                 ng-show="registerForm.firstName.$invalid && !registerForm.firstName.$pristine">
                                <div ng-message="required">First name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : registerForm.lastName.$invalid && !registerForm.lastName.$pristine }">
                        <label class="col-md-3 control-label">Last Name</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" required ng-model="vm.registrationData.lastName"
                                   name="lastName" placeholder="Last Name">

                            <div class="help-block"
                                 ng-messages="registerForm.lastName.$error"
                                 ng-show="registerForm.lastName.$invalid && !registerForm.lastName.$pristine">
                                <div ng-message="required">Last name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : registerForm.password.$invalid && !registerForm.password.$pristine }">
                        <label class="col-md-3 control-label">Password</label>

                        <div class="col-md-9">
                            <input type="password" class="form-control" ng-model="vm.registrationData.password"
                                   name="password" required minlength="6" placeholder="Password">

                            <div class="help-block"
                                 ng-messages="registerForm.password.$error"
                                 ng-show="registerForm.password.$invalid && !registerForm.password.$pristine">
                                <div ng-message="required">Password is required</div>
                                <div ng-message="minlength">Password is too short</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{ 'has-error' : registerForm.passwordRepeat.$invalid && !registerForm.passwordRepeat.$pristine }">
                        <label class="col-md-3 control-label">Repeat password</label>

                        <div class="col-md-9">
                            <input type="password" class="form-control" name="passwordRepeat"
                                   ng-model="vm.registrationData.passwordRepeat"
                                   placeholder="Repeat password" required minlength="6"
                                   match="vm.registrationData.password">

                            <div class="help-block"
                                 ng-messages="registerForm.passwordRepeat.$error"
                                 ng-show="registerForm.passwordRepeat.$invalid && !registerForm.passwordRepeat.$pristine">
                                <div ng-message="required">Password repeat is required</div>
                                <div ng-message="minlength">Password is too short</div>
                                <div ng-message="match">Password should match</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-register" type="submit" class="btn btn-success"
                                    ng-disabled="registerForm.$invalid">
                                <i class="icon-hand-right"></i>Register
                            </button>
                        </div>
                    </div>


                </form>
            </div>
        </div>


    </div>
</div>
    