<div ng-show="!vm.loading" class="fadein">
    <div class="row page-header">
        <div class="col-md-6">
            <h1><i class="fa fa-star"></i> Favourite
                <a class="glyphicon glyphicon-pencil edit-icon"
                   ui-sref="app.todosCategoriesEdit({category: vm.category._id})" ng-if="vm.category._id"></a>
            </h1>
        </div>
        <div class="col-md-6 text-right">
            <a ui-sref="app.todosCreate({category: vm.categoryId})" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i> <span>New todo</span>
            </a>
        </div>
    </div>

    <div class="row" ng-repeat="category in vm.categories">
        <div class="col-xs-12 content-item">
            <h2><i class="fa {{category.icon}}" ng-if="!!category.icon"></i> {{category.name}}</h2>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Done?</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Due date</th>
                    </tr>
                    </thead>


                    <tbody>
                    <tr ng-repeat="todo in vm.todos">
                        <td><input type="checkbox" ng-click="vm.markAsCompleted(todo._id)"/></td>
                        <td><a ui-sref="app.todosEdit({id: todo._id})">{{todo.name}}</a></td>
                        <td>{{todo.description}}</td>
                        <td>{{todo.dueDate | date}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>