<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">


        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b
                    class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ui-sref="logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">

            <li>
                <a ui-sref="app.dashboard">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li>
                <a ui-sref="app.images.list">
                    <i class="fa fa-file-text-o"></i>
                    <span>Media</span>
                </a>
            </li>
            <li>
                <a ui-sref="app.articleCategories.list">
                    <i class="fa fa-file-text-o"></i>
                    <span>Kategorie artykułów</span>
                </a>
            </li>

            <li>
                <a ui-sref="app.articles.list">
                    <i class="fa fa-file-text-o"></i>
                    <span>Artykuły</span>
                </a>
            </li>

            <li>
                <a ui-sref="app.contentCategories.list">
                    <i class="fa fa-file-text-o"></i>
                    <span>Kategorie treści</span>
                </a>
            </li>

            <li>
                <a ui-sref="app.contents.list">
                    <i class="fa fa-file-text-o"></i>
                    <span>Treści</span>
                </a>
            </li>

            <li>
                <a ui-sref="app.eventCategories.list">
                    <i class="fa fa-file-text-o"></i>
                    <span>Kategorie wydarzeń</span>
                </a>
            </li>

            <li>
                <a ui-sref="app.events.list">
                    <i class="fa fa-file-text-o"></i>
                    <span>Wydarzenia</span>
                </a>
            </li>

            <li>
                <a ui-sref="app.locationCategories.list">
                    <i class="fa fa-file-text-o"></i>
                    <span>Kategorie lokalizacji</span>
                </a>
            </li>

            <li>
                <a ui-sref="app.locations.list">
                    <i class="fa fa-file-text-o"></i>
                    <span>Lokalizacje</span>
                </a>
            </li>

            <li>
                <a ui-sref="app.productCategories.list">
                    <i class="fa fa-file-text-o"></i>
                    <span>Kategorie produktów</span>
                </a>
            </li>

            <li>
                <a ui-sref="app.products.list">
                    <i class="fa fa-file-text-o"></i>
                    <span>Produkty</span>
                </a>
            </li>

            <li>
                <a ui-sref="app.producents.list">
                    <i class="fa fa-file-text-o"></i>
                    <span>Producenci</span>
                </a>
            </li>

            <li>
                <a ui-sref="app.pushMessages.list">
                    <i class="fa fa-file-text-o"></i>
                    <span>Wiadomości PUSH</span>
                </a>
            </li>


        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
