aside {
  background-color: $menuBackgroundColor;
  width: 230px;
  position: fixed;
  padding: 25px 0px;
  box-shadow: inset -5px 0px 8px rgba(0, 0, 0, 0.3);
  height: 100%;
  top: 0px;
  left: 0px;

  &.collapsed {
    overflow: visible !important;
    bottom: 0px;

    & > .logo {
      padding-left: 5px;

      & > img {
        max-width: 60px;
      }
    }

    & + .content {

      @media (max-width: 768px) {
        margin-left: 250px;
      }

      @media (min-width: 768px) {
        margin-left: 75px;
      }
    }

    @media (min-width: 768px) {
      width: 75px;
      text-align: center;
    }

    @media (max-width: 768px) {
      width: 250px;
      left: 0px;
      overflow: hidden !important;
    }
  }

  &.lg {
    width: 250px;

    & + .content {
      margin-left: 250px;
    }
  }

  & > .logo {
    margin-bottom: 30px;
    text-align: center;
    padding-left: 25px;

    & > img {
      max-width: 80px;
    }
  }

  @media (max-width: 768px) {
    left: 100%;
  }
}

/*** Aside Collapsed ***/
@media (min-width: 768px) {

  aside.collapsed {
    span.nav-label {
      display: none;
    }

    .navigation > ul > li > a {
      padding: 20px;
    }

    i.fa {
      font-size: 22px;
    }
  }
}

/*
*** Responsive
*/
@media (max-width: 768px) {
  .content {
    margin-left: 0px;

    & > .container-fluid {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .page-header h1 {
    margin-top: 0px;
  }
}