.content {
  @media (min-width: 768px) {
    margin-left: 230px;
  }

  & > .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/*** Page Header / Page Title ***/

.page-header {
  border-bottom: none;
  margin: 0px 0px 10px 0px;
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid grey 1px;

  h1 {
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 0px;
  }

  * {
    font-weight: 300;
  }

  small {
    font-size: 14px;
    color: #9D9EA5;
  }

  .edit-icon {
    display: none;
    cursor: pointer;
    font-size: 0.75em;
    margin-left: 25px;
  }

  &:HOVER {
    .edit-icon {
      display: inline;
    }
  }
}

.content-item {
  padding-left: 25px !important;
  padding-right: 25px !important;
}