.footer {
  background-color: #d4d4d6;
  border-top: 1px solid #e1e1e3;
  padding-bottom: 15px;
  padding-top: 15px;

  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  left: 0px;

  @media (min-width: 768px) {
    left: 230px;
    width: calc(100% - 230px);
  }
}

aside.collapsed + .content footer {
  @media (min-width: 768px) {
    width: calc(100% - 75px);
    left: 75px;
  }

  @media (max-width: 768px) {
    margin-left: 250px;
  }
}