<div>
    <div class="row page-header">
        <div class="col-xs-12">
            <h1>{{vm.action === 'CREATE' ?'New category':'Category details'}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 form-container">
            <form class="form-horizontal" name="categoryForm" role="form" ng-submit="vm.save();" novalidate>

                <div class="form-group"
                     ng-class="{ 'has-error' : categoryForm.name.$invalid && !categoryForm.name.$pristine }">
                    <label class="col-xs-12 col-sm-2 control-label">Name</label>

                    <div class="col-xs-12 col-sm-8">
                        <input type="text" name="name" ng-model="vm.category.name" class="form-control" required/>

                        <div class="help-block"
                             ng-messages="categoryForm.name.$error"
                             ng-show="categoryForm.name.$invalid && !categoryForm.name.$pristine">
                            <div ng-message="required">Name is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 control-label">Description</label>

                    <div class="col-xs-12 col-sm-8">
                        <textarea name="description" ng-model="vm.category.description" class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : categoryForm.icon.$invalid && !categoryForm.icon.$pristine }">
                    <label class="col-xs-12 col-sm-2 control-label">Icon</label>

                    <div class="col-xs-12 col-sm-8">

                        <select ng-model="vm.category.icon" class="fa-select">
                            <option ng-repeat="icon in vm.icons" value="{{icon.name}}" class="fa">{{::icon.code}}
                            </option>
                        </select>

                        <div class="help-block"
                             ng-messages="categoryForm.icon.$error"
                             ng-show="categoryForm.icon.$invalid && !categoryForm.icon.$pristine">
                            <div ng-message="required">Icon is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        <button type="submit" class="btn btn-info" ng-disabled="categoryForm.$invalid">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>