body {
  background-color: #f9f9f9;
  color: $defaultTextColor;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

body, html {
  overflow-x: hidden;
}

strong, b {
  font-weight: 700;
}

.transit {
  @include transition(all 1s);
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}