/* After the transition this will be the only class remaining */
.fadein {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  opacity: 1; /* Default value but added for clarity */
}

/* Initial state when showing */
.fadein.ng-hide-remove {
  opacity: 0;
  display: block !important;
}

/* Will transition towards this state */
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

/* Page animation */
@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: rotateZ(17deg);
  }
  60% {
    transform: rotateZ(16deg);
  }
  100% {
    transform: translateY(100%) rotateZ(17deg);
  }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to {
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0;
  }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}

/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.pageContainer.ng-enter {
  animation: slideInUp 3s both ease-in;
  z-index: 8888;
}

.pageContainer.ng-leave {
  animation: rotateOutNewspaper 5s both ease-in;
  z-index: 9999;
}